.sabemos-por {  
  padding: 20px; 
  background-color: #f9f9f9;
  background-image: url(../img/labradormarron.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  margin: 0 auto; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .calidad-h {  
    width: 55%;
    color: #3482db;
    font-size: 2em;
    margin-left: 25px;
    margin-top: 10px; 
    margin-bottom: 30px;
  }  
  
  .calidad-p { 
    margin-left: 25px;
    color:rgba(62, 62, 63, 0.9921568627); ; 
    width: 65%;
    font-size: 1em; 
    line-height: 1.8; 
  }  
}  
// Media Queries para Responsividad 
@media (max-width: 768px) {  
  .calidadh {  
      font-size: 1.5em;
  }  

  .calidadp {  
      font-size: 1em;
  }  
}  
// Media Queries para Responsividad 
@media (max-width: 480px) {  
  .calidadh {  
      font-size: 1.3em; 
  }  

  .calidadp {  
      font-size: 0.9em;
  }  
}  

.caja {  
  display: flex; 
  flex-wrap: wrap;  
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 100px;

  .caja-div {  
    background-color: rgba(62, 62, 63, 0.9921568627); 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px; 
    text-align: center;  
    flex: 1 1 calc(30% - 20px); 
  }

  .caja-div img {  
    max-width: 100%; 
    height: auto; 
    border-radius: 8px;
  }  
  
  .caja-h2 {  
    color: #fff;
    font-size: 1.5em; 
    margin: 10px 0;
  }  
  
  .caja-parra {  
    color: #fff;
    font-size: 1em; 
    line-height: 1.5;
  }  
}  
// Media Queries para Responsividad 
@media (max-width: 768px) {  
  .caja-div {  
      flex: 1 1 calc(45% - 20px); 
  }  
}  
// Media Queries para Responsividad 
@media (max-width: 480px) {  
  .caja-div {  
      flex: 1 1 100%; 
  }  

  .caja-h2 {  
      font-size: 1.2em; 
  }  

  .caja-parra {  
      font-size: 0.9em; 
  }  
}  

.sabemos {  
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9; 
  margin-top: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .sabemos-h {  
    color: #3482db;
    font-size: 2em;  
    margin-bottom: 15px;  
    text-align: center;
  }  
  
  .sabemos-p {  
    color:rgba(62, 62, 63, 0.9921568627) ;
    width: 80%;
    font-size: 1.2em;
    line-height: 1.5; 
  }  
}  
// Media Queries para Responsividad 
@media (max-width: 768px) {  
  .sabemos-h {  
      font-size: 1.5em;  
  }  

  .sabemos-p {  
      font-size: 1em;
  }  
}  
// Media Queries para Responsividad 
@media (max-width: 480px) {  
  .sabemos-h {  
      font-size: 1.3em;
  }  

  .sabemos-p {  
      font-size: 0.9em; 
  }  
}  


