.contactos {
    height: 250px;
    background-color: #f0c44c;
    background-image: url(../img/bulldog.jpg.png);
    background-position-x: 70%;
    background-position-y: 65%;
    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: rgba(62, 62, 63, 0.9921568627);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $tamaño-titulo;
        margin: 0;
    }
}

.contacot-seccion {
    padding: 20px;
    margin: 0 auto;

    .contacto-uno {
        color: rgba(62, 62, 63, 0.9921568627);
        margin-top: 100px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
    }

    h3 {
        font-size: $tamaño-intermedio;
        margin-bottom: 10px;
    }

    p {
        font-size: $tamaño-parrafo;
        line-height: 1.5;
    }
}
// Media Queries para Responsividad 
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
        padding-right: 150px;
    }

    .contacto-uno h3 {
        font-size: 1.5em;
    }

    .contacto-uno p {
        font-size: 1em;
    }
}
// Media Queries para Responsividad 
@media (max-width: 480px) {
    .texcontacto {
        font-size: 1.5em;
    }

    .contacto-uno h3 {
        font-size: 1.3em;
    }

    .contacto-uno p {
        font-size: 0.9em;
    }
}

.fomulario {
    margin-top: 100px;
    margin-bottom: 100px;
}

.fomulario h3 {
    padding-left: 150px;
    font-size: 25px;
    color: rgba(62, 62, 63, 0.9921568627);
}

.fomulario label {
    display: flex;
    margin-left: 150px;
    margin-top: 10px;
}

.fomulario input,
.fomulario textarea,
.fomulario select {
    margin-left: 150px;
    width: 60%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fomulario input[type=submit] {
    background-color: #f0c44c;
    color: white;
    border: none;
    cursor: pointer;
}

.fomulario input[type=submit]:hover {
    background-color: #f0c44c;
}

.map-container {
    position: relative;
    width: 100%;
    padding-top: 20%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}