.clinica {
    height: 190px;
    padding: 15px;
    background-color: #f0f0f0;
    text-align: justify;
    background-image: url(../img/pyg.png);
    background-repeat: no-repeat;
    background-position-x: 80%;

    .cajac {
        max-width: 80%;
        margin: 0 auto;

        h1 {
            color: #3482db;
            width: 350px;
            font-size: $tamaño-titulo;
            margin-bottom: 10px;
        }

        p {
            color: rgba(62, 62, 63, 0.9921568627);
            width: 370px;
            font-size: $tamaño-parrafo;
            line-height: 1.5;
        }
    }
}
// Media Queries para Responsividad 
@media (max-width: 768px) {
    .clinica {
        background-image: none;
    }

    h1 {
        text-align: left;
        font-size: 1em;
    }

    p {
        text-align: left;
        font-size: 0.9em;
    }
}

.contigo {
    display: flex;
    justify-content: space-around;
    background-color: rgba(62, 62, 63, 0.9921568627);
    border-end-start-radius: 70px;
    border-end-end-radius: 70px;
    margin-bottom: 100px;
    height: 180px;

    .especialista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    img {
        width: 85px;
        transition: 0.5s;
    }

    img:hover {
        transform: translateY(-10px);
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}

.vidio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;

    video {
        width: 100%;
        max-width: 450px;
        height: auto;
    }
}

.vidio-titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    h2 {
        color: #3482db;
        font-size: $tamaño-titulo;
        margin-bottom: 10px;
    }

    h3 {
        color: rgba(62, 62, 63, 0.9921568627);
        font-size: $tamaño-intermedio;
        margin: 10px 0;
    }

    p {
        color: rgba(62, 62, 63, 0.9921568627);
        font-size: $tamaño-parrafo;
        text-align: center;
        line-height: 1.5;
        max-width: 600px;
    }
}
// Media Queries para Responsividad 
@media (max-width: 768px) {
    h2 {
        text-align: center;
        font-size: $tamaño-titulo;
    }

    h3 {
        text-align: center;
        font-size: 1.2em;
    }

    p {
        text-align: center;
        font-size: 1em;
    }

    .vidio {
        padding: 10px;
    }
}

.slider-box {
    padding: 20px;
    background-color: #f9f9f9;
    overflow: hidden;

    .carrusel::-webkit-scrollbar {
        display: none;
    }

    .carrusel {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        overflow-x: auto;
        scroll-behavior: smooth;

        .elemento {
            flex: 0 0 auto;
            width: 300px;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
// Media Queries para Responsividad 
@media (max-width: 768px) {
    .elemento {
        width: 250px;
    }
}
// Media Queries para Responsividad 
@media (max-width: 480px) {
    .elemento {
        width: 200px;
    }
}

.internacion {
    padding: 20px;
    margin-top: 100px;
    background-color: #f0f0f0;

    .internacion-cajas {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h2 {
            color: #3482db;
            font-size: $tamaño-titulo;
            margin-bottom: 10px;
        }

        h3 {
            color: rgba(62, 62, 63, 0.9921568627);
            font-size:$tamaño-mediano;
            margin: 10px 0;
        }

        p {
            color: rgba(62, 62, 63, 0.9921568627);
            font-size: $tamaño-parrafo;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }

    .img-inter {
        margin-left: 20%;
        width: 60%;
        height: auto;
        border-radius: 8px;
    }
}
// Media Queries para Responsividad 
@media (max-width: 768px) {
    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }

    .internacion-cajas {
        padding: 15px;
    }
}
// Media Queries para Responsividad 
@media (max-width: 480px) {
    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
    }
}

.cirugia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-image: url(../img/cirugia.jpg);
    background-repeat: round;
    margin-top: 50px;

    h2 {
        font-size: $tamaño-titulo;
        color: #fff;
        text-align: center;
        padding-bottom: 25px;
        padding-top: 15px;
        text-shadow: 1px 1px 10px 1px 1px 10px black;
    }

    p {
        color: #fff;
        font-size: $tamaño-parrafo;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.trauma {
    padding: 20px;
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;

    .trauma-uno {
        font-size: $tamaño-parrafo;
        color: rgba(62, 62, 63, 0.9921568627);
        margin-bottom: 20px;
    }

    .trauma-img {
        margin-left: 15%;
        width: 70%;
        height: auto;
        border-radius: 8px;
    }

    .trauma-dos {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 45px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        ul {
            list-style-type: none;
            padding: 0;
        
            li {
                list-style: disc;
                color: rgba(62, 62, 63, 0.9921568627);
                margin: 5px 0;
                font-size: $tamaño-parrafo;
            }
        }
    }
}
// Media Queries para Responsividad 
@media (max-width: 768px) {
    .trauma-uno h3 {
        font-size: 1.5em;
    }

    .trauma-uno p {
        font-size: 1em;
    }

    .trauma-dos li {
        font-size: 1em;
    }
}
// Media Queries para Responsividad 
@media (max-width: 480px) {
    .trauma-uno h3 {
        font-size: 1.3em;
    }

    .trauma-uno p {
        font-size: 0.9em;

    }

    .trauma-dos li {
        font-size: 0.9em;   
    }
}