.mascota {
    background-image: url(../img/fondesec.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.familia {
    text-align: center;
    font-size: $tamaño-titulo;
    color: rgba(62, 62, 63, 0.9921568627);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.clinica-vet {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;

    text-align: center;

    .imagen-container {
        width: 60%;
        max-width: 600px;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .somos {
        display: flex;
        flex-direction: column;
        justify-content: first baseline;
        align-items: first baseline;
        gap: 60px;
        max-width: 600px;

        h2 {
            color: #3482db;
            text-align: justify;
            margin-left: 10px;
            font-size: $tamaño-titulo;
        }

        h3 {
            color: #3e3e3ffd;
            text-align: justify;
            margin-left: 10px;
            font-size: 1.2em;
        }

        p {
            color: #3e3e3ffd;
            margin-left: 10px;
            text-align: justify;
            font-size: $tamaño-parrafo;
            line-height: 1.5;
        }
    }
}
// Media Queries para Responsividad 
@media (min-width: 768px) {

    .clinica-vet {
        flex-direction: row;
        justify-content: space-between;
    }

    .imagen-container {
        width: 50%;
        margin-bottom: 0;
    }

    .somos {
        width: 50%;
    }
}

.bienestar {
    margin-top: 50px;
    text-align: center;
    color: #3e3e3ffd;
    font-size: $tamaño-intermedio;

    h2 {
        margin-bottom: 100px;
    }

    .tarjetas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        gap: 60px;

        .tarjeta {
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 300px;
            transition: transform 0.3s;
            text-align: left;
            margin-bottom: 100px;

            h3 {
                color: #3482db;
                padding-left: 10px;
                margin: 10px 0;
            }

            p {
                font-size: $tamaño-parrafo;
                color: #3e3e3ffd;
                padding-left: 10px;
                padding: 0 10px 10px;
            }
        }
    }
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.tarjeta:hover {
    transform: scale(1.05);
}
// Media Queries para Responsividad 
@media (max-width: 768px) {
    .tarjeta {
        width: 100%;
    }
}

.juntos {
    display: flex;
    background-color: #fff;
    color: rgba(62, 62, 63, 0.9921568627);
    font-size: 15px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    text-align: center;
}