.calidad {
    height: 340px;
    padding: 20px;
    background-color: #f9f9f9;
    background-image: url(../img/bulldogmedi.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 90%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calidadh {
    padding-top: 65px;
    padding-left: 15px;
    width: 60%;
    color: #3482db;
    font-size: $tamaño-titulo;
    margin-top: 10px;
    margin-bottom: 10px;
}

.calidadp {
    display: flex;
    padding-left: 15px;
    color: rgba(62, 62, 63, 0.9921568627);
    width: 43%;
    font-size: $tamaño-parrafo;
    line-height: 1.5;
}
// Media Queries para Responsividad 
@media (max-width: 800px) {
    .calidad {
        padding: 20px;
        background-image: none;
    }

    .calidadh {
        font-size: 2em;
    }

    .calidadp {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .calidad {
        background-image: none;
    }

    .calidadh {
        width: 90%;
        font-size: 1em;
    }

    .calidadp {
        width: 90%;
        font-size: 0.5em;
    }
}

.produc {
    background-color: #3482db;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

.farma-pet {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    .antiparasitaria {
        text-align: center;
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}

.antiparasitaria img {
    max-width: 100px;
    height: auto;
}

.antiparasitaria p {
    color: rgba(62, 62, 63, 0.9921568627);
    font-size: $tamaño-titulo;
    margin-top: 10px;
}

.parasito {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;

    .parasito-h2 {
        color: rgba(62, 62, 63, 0.9921568627);
        font-size: $tamaño-titulo;
        margin-bottom: 10px;
    }

    .parasito-p {
        color: rgba(62, 62, 63, 0.9921568627);
        font-size: $tamaño-parrafo;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .parasito img {
        max-width: 60%;
        height: auto;
        margin-top: 10px;
        border-radius: 8px;
    }
}
// Media Queries para Responsividad 
@media (max-width: 768px) {
    .parasito {
        flex: 1 1 calc(50% - 20px);
    }

    .antiparasitaria p {
        font-size: 1.2em;
    }
}
// Media Queries para Responsividad 
@media (max-width: 480px) {
    .parasito {
        flex: 1 1 100%;
    }

    .antiparasitaria img {
        max-width: 80px;
    }

    .antiparasitaria p {
        font-size: 1em;
    }

    .parasito-h2 {
        font-size: 1.2em;
    }

    .parasito-p {
        font-size: 0.9em;
    }
}