header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

img {
    width: 160px;
    height: 100px;
}

nav {
    display: block;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    
    li {
        margin: 0 15px;
    }
    
    a {
        text-decoration: none;
        color: #3482db;
    }
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 3px 0;
}
// Media Queries para Responsividad 
@media (max-width: 755px) {
    nav {

        display: none;
    }

    .menu-icon {
        display: flex;
    }

    // Muestra el menú cuando el checkbox está marcado 
    #menu-toggle:checked+.menu-icon+nav {
        display: block;
    }

    .textohead {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .textohead li {
        padding-left: 10%;
        margin: 10px 0;
    }
}

header a:hover {
    color: rgba(62, 62, 63, 0.9921568627);
}